* {
  box-sizing: border-box;
}

.container {
  max-width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 1em;
}

.wrapper {
  box-shadow: 0 0 20px 0 rgba(72, 94, 116, 0.7);
  display: grid;
  grid-template-areas:
    "header header header header header header header header header header header header"
    "firstname_label  firstname firstname firstname  lastname_label lastname lastname lastname lastname . . ."
    "tour_label tour tour plt_label plt plt unit_label unit unit . . ."
    "shield_label shield shield oda_label oda oda ted_label ted ted lst5_lbl lst5 lst5"
    "street_label streetaddress streetaddress streetaddress streetaddress streetaddress streetaddress streetaddress streetaddress streetaddress . . "
    "city_label city city state_label state state zip_label zip zip . . .";
  padding: 1em;
  border-radius: 1em;
}

.blue {
  color: blue;
}

.label {
  align-self: center;
  justify-self: right;
}

.gridname {
  align-self: center;
  justify-self: stretch;
}

.wrapper > * {
  padding: 1em;
}

.header {
  grid-area: header;
  justify-self: center;
  margin: 0 0 1rem 0;
  border-bottom: 1px solid black;
}

.firstname_label_grid {
  grid-area: firstname_label;
}

.firstname_grid {
  grid-area: firstname;
}

.lastname_label_grid {
  grid-area: lastname_label;
}
.lastname_grid {
  grid-area: lastname;
}

.shield_label {
  grid-area: shield_label;
}

.shield {
  grid-area: shield;
}

.ted_label {
  grid-area: ted_label;
}

.ted {
  grid-area: ted;
}

.oda_label {
  grid-area: oda_label;
}

.oda {
  grid-area: oda;
}

.street_label {
  grid-area: street_label;
}

.streetaddress {
  grid-area: streetaddress;
}

.city_label {
  grid-area: city_label;
}

.state_label {
  grid-area: state_label;
}

.zip_label {
  grid-area: zip_label;
}

.city {
  grid-area: city;
}

.state {
  grid-area: state;
}

.zip {
  grid-area: zip;
}

.tour_label {
  grid-area: tour_label;
}

.tour {
  grid-area: tour;
}

.plt_label {
  grid-area: plt_label;
}

.unit_label {
  grid-area: unit_label;
}

.unit {
  grid-area: unit;
}

.lst5_lbl {
  grid-area: lst5_lbl;
}

.lst5 {
  grid-area: lst5;
}

.plt {
  grid-area: plt;
}
