{% extends 'members/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <form action='' method='POST'>
    {% csrf_token %}
    <div class='container-fluid'>
        <div class='card' style="width: 100%;">
            <div class='card-header'>
                <h2 class="card-title">Add/Update Member Profile</h2>
            </div>
            <div class='card-body'> 
                <p class="card-text">
                    {{ form|crispy}}
                </p>
            </div>
            <input type='submit' class='btn btn-sm btn-primary' value='Add/Edit Member'>
            <br />
        </div>
    </div>
</form>

{% endblock content %}