{% extends 'members/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <form action='' method='POST'>
    {% csrf_token %}
    <div class='container-fluid'>
        <div class='form-grid'>
            <div class='col-lg-6 col-sm-12 col-xs-12'>
                <div class='card shadow-sm p-3 mb-5 bg-white rounded'>
                    <div class='card-header border bg-primary'>
                        <h2 class="card-title text-center text-white">Add/Update Member Profile</h2>
                    </div>
                    <div class='card-body border'> 
                        <p class="card-text">
                            {{ form|crispy}}
                        </p>
                    </div>
                    <div class='card-footer border row'>
                        <div class="col-sm text-align-left"> <a href={% url 'members' %} class="btn btn-info">Return to list</a></div>
                        <div class="col-sm text-align-center"><input type='submit' class='btn btn-primary' value='Submit'></div>
                        <div class="col-sm text-align-right"> <a href={% url 'add_profile' %}  type='submit' class='btn btn-primary'>Add Another Member</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock content %}