{% extends 'members/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
<form action='' method='POST'>
    {% csrf_token %}
    <div class='container-fluid'>
        <div class='card' style="width: 75%;">
            <div class='card-header'>
                <h2 class="card-title">Add/Update Member Out</h2>
            </div>
            <div class='card-body'> 
                <p class="card-text">
                    {{ form|crispy}}
                </p>
            </div>
        </div>
    </div>
    <input type='submit' class='btn btn-sm btn-warning' value='Add/Update Member'>
</form>
{% endblock content %}