
{% extends 'members/main.html' %}
{% load static %}
{% block title %}43{% endblock title %}
{% block content %}
<style>
    .responsive {
    max-width: 100%;
    height: auto;
    }
</style>
<div class='container-fluid'>
    <div class='card shadow-sm p-3 mb-5 bg-white rounded'>
        <div class='card-header text-center text-white bg-primary border'>
            <h1>Welcome to the 43 Member Page!</h1>
        </div>
        <div class='card-body border text-center'>
            <img  src="{% static 'members/img/commandcar.jpg' %}" style='object-fit: contain' class='responsive'>
        </div>
    </div>
</div>

{% endblock content %}