<style>

  .hello-msg{
    font-size: 18px;
    color: #fff;
    margin-right: 20px;
  }

</style>

<nav class="navbar sticky-top navbar-dark bg-primary">
  
    <a class="navbar-brand" href="{% url 'index' %}">Covid-43</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      {% comment %} <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
        </li>
        {% if request.user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'out' %}">Out</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'members' %}">Profiles</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Members
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'als' %}">ALS</a>
            <a class="dropdown-item" href="{% url 'bls' %}">BLS</a>
            <a class="dropdown-item" href="{% url 'officers' %}">Officers</a>
            <hr>
            <a class="dropdown-item" href="#">Add Member</a>
          </div>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Tours
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'tour1' %}">Tour 1</a>
            <a class="dropdown-item" href="{% url 'tour2' %}">Tour 2</a>
            <a class="dropdown-item" href="{% url 'tour3' %}">Tour 3</a>
          </div>
        </li>
        {% endif %}
      </ul> {% endcomment %}
    </div>

    <span class='hello-msg'>Hello, {{request.user.first_name}} </span>
    <span><a href="{% url 'logout' %}" class='hello-msg' >Logout</a></span>
  
</nav>