{% extends 'members/main.html' %}
{% load crispy_forms_tags %}

{% block content %}
{% csrf_token %}
<form method="post" action="#" >
    <div class="container">
        <div class="wrapper">
            <div class="header">
                <h1>Please Enter Members Information Below</h1>
            </div>
            <div class="firstname_label_grid blue label">
                <h5>First Name:</h5>
            </div>
            <div class="firstname_grid gridname">
                <input type="text" class="form-control" placeholder="First Name">
            </div>            
            <div class="lastname_label_grid blue label">
                <h5>Last Name:</h5>
            </div>
            <div class="lastname_grid gridname">
                <input type="text" class="form-control" placeholder="Last Name">                
            </div>
            <div class="shield_label blue label">  
                <h5>Shield:</h5>
            </div>
            <div class="shield gridname">
                <input type="text" class="form-control" placeholder="Shield">             
            </div>
            <div class="oda_label blue label">  
                <h5>ODA:</h5>
            </div>
            <div class="oda gridname">
                <input type="date" class="form-control " placeholder="ODA">                
            </div>
            <div class="ted_label blue label">
                <h5>TED:</h5>
            </div>
            <div class="ted gridname">
                <input type="date" class="form-control" placeholder="TED">               
            </div>
            <div class="street_label blue label">
                <h5>Street Address:</h5>
            </div>
            <div class="streetaddress gridname">
                <input type="text" class="form-control"  placeholder="Street Address">
            </div>
            
            <div class="city_label blue label">
                <h5>City:</h5>
            </div>
            <div class="city gridname">
                <input type="text" class="form-control"  placeholder="City">
            </div>
            <div class="state_label blue label">
                <h5>State:</h5>
            </div>
            <div class="state gridname">
                <input type="text" class="form-control"  placeholder="State">
            </div>
            <div class="zip_label blue label">
                <h5>Zip Code:</h5>
            </div>
            <div class="zip gridname">
                <input type="text" class="form-control"  placeholder="Zip Code">
            </div>
            <div class="tour_label blue label">
                <h5>Tour:</h5>
            </div>
            <div class="plt_label blue label">
                <h5>Platoon:</h5>
            </div>
            <div class="unit_label blue label">
                <h5>Unit:</h5>
            </div>
            <div class="lst5_lbl blue label">
                <h5>Last 5:</h5>
            </div>
            <div class="tour gridname">
                <input type="text" class="form-control" placeholder="Tour">
            </div>
            <div class="plt gridname">
                <input type="text" class="form-control" placeholder="Platoon">
            </div>
            <div class="unit gridname">
                <input type="text" class="form-control" placeholder="Unit">
            </div>
            <div class="lst5 gridname">
                <input type="text" class="form-control" placeholder="Last 5">
            </div>

            
            {% comment %} <div class=''>
                <a href={% url 'members' %} class="btn btn-info">Return to list</a>&nbsp; &nbsp; &nbsp; <input type='submit' class='btn btn btn-primary' value='Add/Edit Member'>
            </div>  {% endcomment %}
        </div>
    </div>
</form>



{% endblock content %}