{% extends 'members/main.html' %}

{% block title %}{% for i in memberprofile %}{{i.first_name}} {{i.last_name}}'s Profile{% endfor %}{% endblock title %}

{% block content %}
    {% for i in memberprofile %}
    <div class='container-fluid'>
        <div class='row justify-content-center'>
            <div class='col-lg-6 col-sm-12 col-xs-12 '>
                <div class="card shadow-sm p-3 mb-5 bg-white rounded">
                    <div class="card-header text-center border bg-primary text-white">
                        <h1>{{i.rank}} {{i.first_name}} {{i.last_name}} | {{i.shield}}</h1>
                    </div>
                    <div class="card-body border">
                        <h5 class="card-title">Tour {{i.tour}}  |  {{i.platoon}} Platoon  |  {{i.unit}}</h5><hr>
                        <p class="card-text">Phone: <b>{{i.phone}}</b></p>
                        <p class="card-text">Address: <b>{{i.streetaddress}}</b></p>
                        <p class="card-text">City: <b>{{i.city}}</b> | State: <b>{{i.state}}</b> | Zip: <b>{{i.zipcode}}</b></p>
                        <p class="card-text">Cert Level: <b>{{i.cert}}</b>  |  State Number: <b>{{i.statenumber}}</b>  |  State Exp: <b>{{ i.stateexp }}</b>  |  Mac Exp: <b>{{i.macexp}}</b></p>
                        <p class="card-text">City Start Date: <b>{{i.oda}}</b> |  Title Entry Date: <b>{{i.ted}}</b>  |  Last 5: <b>{{i.lastfive}}</b>  </p>
                        <hr/>    
                        <h5 class='card-title'>EMERGENCY CONTACT:</h5>
                        <p class="card-text"><b>{{i.contact_name}} | {{i.relationship}} | {{i.contact_phone}}</b></p>
                        <p class="card-text">Contact Address: <b>{{i.contact_street_address}}</b></p>
                        <p class="card-text">City: <b>{{i.contact_city}}</b> | State: <b>{{i.contact_state}}</b> | Zip: <b>{{i.contact_zipcode}}</b></p>
                    </div>
                    <div class='card-footer text-right border'>
                        <a href={% url 'members' %} class="btn btn-info">Return to list</a>  <a href={% url 'profileupdate' i.id %} class='btn btn-primary'>Edit Profile</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
{% endblock content %}