{% extends 'members/main.html' %}
{% block title %} Tour {{member.tour}} {% endblock title %}

{% block content %}
<div class='container-fluid'>
    <div class='row'>
        <div class='col'>
            <div class='card card-body shadow-sm p-3 mb-5 bg-white rounded'>
                <div class='card-header text-center text-white bg-primary border'><h1>Tour {{member.tour}} Members</h1></div>
                <div class='card-body border'>
                    <table id="table_id2" class="table">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Last</th>
                                <th scope="col">First</th>
                                <th scope="col">Rank</th>
                                <th scope="col">Tour</th>
                                <th scope="col">Platoon</th>
                                <th scope="col">Unit</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for i in member %}
                        
                            <tr>
                                <th scope="row"><a href={% url 'profile' i.id %}>{{i.last_name}}</a></th>
                                <td>{{i.first_name}}</td>
                                <td>{{i.rank}}</td>
                                <td>{{i.tour}}</td>
                                <td>{{i.platoon}}</td>
                                <td>{{i.unit}}</td>
                            </tr>
                        
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
{% block js %}
<script src="https://code.jquery.com/jquery-3.5.0.min.js" integrity="sha256-xNzN2a4ltkB44Mc/Jz3pT4iU1cmeR0FkXs4pru/JxaQ=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.21/b-1.6.2/b-html5-1.6.2/r-2.2.4/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.21/b-1.6.2/b-html5-1.6.2/r-2.2.4/datatables.min.js"></script>

<script>

$(document).ready( function () {
    $('#table_id2').DataTable( {
    dom: 'B<"clear">lfrtip',
    responsive: true,
    buttons: {
     name: 'primary',
     buttons: [ 'copy', 'csv', 'excel', 'pdf' ]
    }
    });
} );

</script>
{% endblock js %}